<!doctype html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Authentication Portal">
    <meta name="author" content="Paul Greenberg github.com/greenpau">
    <link rel="shortcut icon" href="{{ pathjoin .ActionEndpoint "/assets/images/favicon.png" }}" type="image/png">
    <link rel="icon" href="{{ pathjoin .ActionEndpoint "/assets/images/favicon.png" }}" type="image/png">
    <!-- Matrialize CSS -->
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/materialize-css/css/materialize.css" }}" />
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/google-webfonts/roboto.css" }}" />
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/google-webfonts/montserrat.css" }}" />
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/line-awesome/line-awesome.css" }}" />
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/css/styles.css" }}" />
    {{ if eq .Data.ui_options.custom_css_required "yes" }}
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/css/custom.css" }}" />
    {{ end }}
    {{ if or (eq .Data.view "mfa_app_auth") (eq .Data.view "mfa_app_register") }}
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/css/mfa_app.css" }}" />
    {{ end }}
  </head>
  <body class="app-body">
    <div class="container">
      <div class="row">
        <div class="col s12 m8 offset-m2 l4 offset-l4 app-card-container">
          <div class="row app-header center">
            {{ if .LogoURL }}
            <div class"row center">
              <a href="{{ pathjoin .ActionEndpoint }}">
                <img class="d-block mx-auto mb-2" src="{{ .LogoURL }}" alt="{{ .LogoDescription }}" width="72" height="72">
              </a>
            </div>
            {{ end }}
            <div class"row center">
              <h5>{{ .Title }}</h5>
            </div>
          </div>
          {{ if or (eq .Data.view "mfa_mixed_auth") (eq .Data.view "mfa_mixed_register") }}
          <div class="row center">
            <p>
              Your session requires multi-factor authentication.
              {{ if eq .Data.view "mfa_mixed_register" }}
              However, you do not have second factor authentication method configured.
              Please click the authentication methods below to proceed with the configuration.
              {{ else }}
              Please click the appropriate second factor authentication method to proceed further.
              {{ end }}
            </p>
          </div>
          <div class="row">
            <ul class="collection">
              <li class="collection-item">
                <i class="las la-mobile la-lg"></i>
                <a href="{{ pathjoin .ActionEndpoint "sandbox" .Data.id "mfa-app-auth" }}">Authenticator App</a>
              </li>
              <li class="collection-item">
                <i class="las la-microchip la-lg"></i>
                <a href="{{ pathjoin .ActionEndpoint "sandbox" .Data.id "mfa-u2f-auth" }}">Hardware Token</a>
              </li>
            </ul>
          </div>
          {{ else if eq .Data.view "mfa_app_auth" }}
          <div class="row">
            <form class="mfa-app-auth-form"
                  action="{{ pathjoin .ActionEndpoint "sandbox" .Data.id "mfa-app-auth" }}"
                  method="POST"
                  autocomplete="off"
                  >
              <div class="mfa-app-auth-ctrl">
                <input class="mfa-app-auth-passcode" id="passcode" name="passcode" type="text" class="validate" pattern="[0-9]{4,8}"
                       title="Passcode should contain 4, 6, or 8 characters and consists of 0-9 characters."
                       maxlength="8"
                       placeholder="______"
                       autocorrect="off" autocapitalize="off" autocomplete="off"
                       required />
              </div>
              <input id="sandbox_id" name="sandbox_id" type="hidden" value="{{ .Data.id }}" />
              <div class="mfa-app-auth-btn">
                <button type="reset" name="reset" class="btn waves-effect waves-light navbtn active navbtn-last red lighten-1">
                  <i class="las la-redo-alt left app-btn-icon"></i>
                </button>
                <button type="submit" name="submit" class="btn waves-effect waves-light navbtn active navbtn-last">
                  <i class="las la-check-square left app-btn-icon"></i>
                  <span class="app-btn-text">Verify</span>
                </button>
              </div>
            </form>
            <div class="mfa-auth-help-text">
              <p>
                Open the two-factor authentication app on your device to view your
                authentication code and verify your identity.
              </p>
            </div>
            <div class="mfa-auth-help-menu">
              <p>Having issues?</p>
              <ul>
                <li>
                  <i class="las la-lock-open"></i>
                  <a href="{{ pathjoin .ActionEndpoint "sandbox" .Data.id "mfa-app-recovery" }}">
                    Enter a two-factor recovery code
                  </a>
                </li>
                <li>
                  <i class="las la-question"></i>
                  <a href="{{ pathjoin .ActionEndpoint "help" }}">
                    Contact support
                  </a>
                </li>
              </ul>
            </div>
          </div>
          {{ else if eq .Data.view "mfa_u2f_auth" }}
          <div class="row">
            <form class="mfa-u2f-auth-form"
                  action="{{ pathjoin .ActionEndpoint "sandbox" .Data.id "mfa-u2f-auth" }}"
                  method="POST"
                  autocomplete="off"
                  >
              <input id="u2f_auth_request" name="u2f_auth_request" type="hidden" value="" />
              <input id="sandbox_id" name="sandbox_id" type="hidden" value="{{ .Data.id }}" />
            </form>
            <div class="mfa-auth-help-text">
              <p>
                Insert your hardware token into a USB port. When prompted, touch,
                or otherwise trigger the hardware token.
              </p>
            </div>
            <div class="mfa-auth-help-menu">
              <p>Having issues?</p>
              <ul>
                <li>
                  <i class="las la-question"></i>
                  <a href="{{ pathjoin .ActionEndpoint "help" }}">
                    Contact support
                  </a>
                </li>
              </ul>
            </div>
          </div>
          {{ else if eq .Data.view "mfa_app_register" }}
          <div class="row">
            <p>The {{ .Data.view }} view is under construction.</p>
          </div>
          {{ else if eq .Data.view "mfa_u2f_register" }}
          <div class="row">
            <p>The {{ .Data.view }} view is under construction.</p>
          </div>
          {{ else if eq .Data.view "error" }}
          <div class="row center">
            <p>Your session failed to meet authorization requirements.</p>
            <p>{{ .Data.error }}.</p>
            <a href="{{ pathjoin .ActionEndpoint "sandbox" .Data.id }}">
              <button type="button" name="button" class="btn waves-effect waves-light navbtn active navbtn-last red lighten-1">
                <i class="las la-redo-alt left app-btn-icon"></i>
                <span class="app-btn-text">Try Again</span>
              </button>
            </a>
          </div>
          {{ else }}
          <div class="row">
            <p>The {{ .Data.view }} view is unsupported.</p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="{{ pathjoin .ActionEndpoint "/assets/materialize-css/js/materialize.js" }}"></script>
    {{ if eq .Data.ui_options.custom_js_required "yes" }}
    <script src="{{ pathjoin .ActionEndpoint "/assets/js/custom.js" }}"></script>
    {{ end }}
    {{ if .Message }}
    <script>
    var toastHTML = '<span>{{ .Message }}</span><button class="btn-flat toast-action" onclick="M.Toast.dismissAll();">Close</button>';
    toastElement = M.toast({
      html: toastHTML,
      classes: 'toast-error'
    });
    const appContainer = document.querySelector('.app-card-container')
    appContainer.prepend(toastElement.el)
    </script>
    {{ end }}
  </body>
</html>
