<!doctype html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha256-OweaP/Ic6rsV+lysfyS4h+LM6sRwuO3euTYfr6M124g=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/atom-one-dark.min.css" integrity="sha256-GA29iW/iYj9FcuQQktvW45pRzHvZeFfgeFvA4tGVjpM=" crossorigin="anonymous" />
    <style>
      body {
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
      }
      input {
        font-family: 'Roboto', sans-serif;
      }
      .app-background {
        background-color: #155D56;
      }
      .app-card-container {
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        margin-top: 2em;
        padding-top: 1em !important;
        padding-left: 2em !important;
        padding-right: 2em !important;
      }
      .app-header {
        font-family: 'Roboto', sans-serif;
        padding-top: 1em !important;
        color: #EE6E73;
        font-size: 1.25rem;
      }
      .navbtn {
        font-family: 'Roboto', sans-serif;
      }
      .navbtn-last {
        margin-right: 0px !important;
      }
      .hljs {
        font-size: 1rem;
      }
      input:-webkit-autofill,
      input:-webkit-autofill:hover, 
      input:-webkit-autofill:focus, 
      input:-webkit-autofill:active  {
          -webkit-box-shadow: 0 0 0 30px white inset !important;
      }
    </style>
  </head>
  <body class="app-background">
    <div class="container app-container">
      <div class="row">
        <div class="col s12 m12 l6 offset-l3 app-card-container">
          <div class="row app-header center">
            {{ if .LogoURL }}
            <div class="col">
              <img class="d-block mx-auto mb-2" src="{{ .LogoURL }}" alt="{{ .LogoDescription }}" width="72" height="72">
            </div>
            <div class="col">
              <h4>{{ .Title }}</h4>
            </div>
            {{ else }}
              <h4>{{ .Title }}</h4>
            {{ end }}
          </div>
          <div class="row">
	          <pre><code class="json hljs">{{ .Data.token }}</code></pre>
          </div>
          <div class="row right">
            <a href="{{ pathjoin .ActionEndpoint "/portal" }}">
              <button type="button" class="btn waves-effect waves-light navbtn active">
                <span class="white-text"><i class="material-icons left">home</i>Portal</span>
              </button>
            </a>
            <a href="{{ pathjoin .ActionEndpoint "/logout" }}" class="navbtn-last">
              <button type="button" class="btn waves-effect waves-light navbtn active navbtn-last">
                <span class="white-text"><i class="material-icons left">power_settings_new</i>Logout</span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha256-U/cHDMTIHCeMcvehBv1xQ052bPSbJtbuiw4QA9cTKz0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js" integrity="sha256-eOgo0OtLL4cdq7RdwRUiGKLX9XsIJ7nGhWEKbohmVAQ=" crossorigin="anonymous"></script>
    {{ if .Message }}
    <script>
    hljs.initHighlightingOnLoad();
    </script>
    {{ end }}
  </body>
</html>
