{
  http_port     8080
  https_port    8443
  debug
}

127.0.0.1, localhost {
  route /auth* {
    trace tag="testing" response_debug=yes uri_filter="^/auth$"
    authp {
      backends {
        local_backend {
          method local
          path assets/conf/local/auth/user_db.json
          realm local
        }
        ldap_backend {
          method ldap
          realm contoso.com
          servers {
            ldaps://ldaps.contoso.com ignore_cert_errors
          }
          attributes {
            name givenName
            surname sn
            username sAMAccountName
            member_of memberOf
            email mail
          }
          username "CN=authzsvc,OU=Service Accounts,OU=Administrative Accounts,DC=CONTOSO,DC=COM"
          password "P@ssW0rd123"
          search_base_dn "DC=CONTOSO,DC=COM"
          search_filter "(&(|(sAMAccountName=%s)(mail=%s))(objectclass=user))"
          groups {
            "CN=Admins,OU=Security,OU=Groups,DC=CONTOSO,DC=COM" admin
            "CN=Editors,OU=Security,OU=Groups,DC=CONTOSO,DC=COM" editor
            "CN=Viewers,OU=Security,OU=Groups,DC=CONTOSO,DC=COM" viewer
          }
        }
        azure_saml_backend {
          method saml
          realm azure
          provider azure
          idp_metadata_location assets/conf/saml/azure/idp/azure_ad_app_metadata.xml
          idp_sign_cert_location assets/conf/saml/azure/idp/azure_ad_app_signing_cert.pem
          tenant_id "1b9e886b-8ff2-4378-b6c8-6771259a5f51"
          application_id "623cae7c-e6b2-43c5-853c-2059c9b2cb58"
          application_name "My Gatekeeper"
          entity_id "urn:caddy:mygatekeeper"
          acs_url https://mygatekeeper/auth/saml/azure
          acs_url https://mygatekeeper.local/auth/saml/azure
          acs_url https://192.168.10.10:3443/auth/saml/azure
          acs_url https://localhost:3443/auth/saml/azure
          acs_url https://localhost:8443/auth/saml/azure
        }
        okta_oauth2_backend {
          method oauth2
          realm okta
          provider okta
          domain_name dev-680653.okta.com
          client_id 0oa121qw81PJW0Tj34x7
          client_secret b3aJC5E59hU18YKC7Yca3994F4qFhWiAo_ZojanF
          server_id default
          scopes openid email profile groups
        }
      }
      crypto default token lifetime 3600
      #crypto default token lifetime 900
      crypto key sign-verify 0e2fdcf8-6868-41a7-884b-7308795fc286
      crypto key token name access_token
      ui {
        theme basic
        template login "assets/templates/basic/login.template"
        template login "assets/templates/basic/portal.template"
        logo url "https://caddyserver.com/resources/images/caddy-circle-lock.svg"
        logo description "Caddy"
        links {
          "Prometheus" /prometheus
          "Alertmanager" /alertmanager icon "las la-bell"
          "My App" /myapp/ target_blank
          "My Identity" /auth/whoami target_blank icon "las la-star"
          "My Settings" /auth/settings icon "las la-cog" target_blank
          "Hidden" /hidden disabled
        }
      }
      registration {
        dropbox assets/conf/local/auth/registrations_db.json
        require domain mx
      }
    }
  }

  route /prometheus* {
    jwt {
      primary yes
      crypto key token name access_token
      crypto key verify 0e2fdcf8-6868-41a7-884b-7308795fc286
      set auth url /auth
      allow roles anonymous guest admin
      allow roles superadmin
      allow roles admin editor viewer
      allow roles AzureAD_Administrator AzureAD_Editor AzureAD_Viewer
      allow roles everyone Everyone
    }
    uri strip_prefix /prometheus
    reverse_proxy http://127.0.0.1:9080
  }

  route /alertmanager* {
    jwt
    uri strip_prefix /alertmanager
    reverse_proxy http://127.0.0.1:9083
  }

  route /myapp* {
    jwt
    respond * "myapp" 200
  }

  route /version* {
    respond * "1.0.0" 200
  }

  route /sso/saml/azure* {
    jwt {
      set auth url /auth/saml/azure
    }
    respond * "azure saml sso" 200
  }

  route /sso/oauth2/okta* {
    jwt {
      set auth url /auth/oauth2/okta
    }
    respond * "okta oauth2 sso" 200
  }

  route {
    redir https://{hostport}/auth 302
  }
}
