<!doctype html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Fonts and Icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    {{ if .Authenticated }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/atom-one-dark.min.css" integrity="sha256-GA29iW/iYj9FcuQQktvW45pRzHvZeFfgeFvA4tGVjpM=" crossorigin="anonymous" />
    {{ end }}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <style>
      body { font-size: 0.875rem; color: #5a6268, padding-top: 3rem; background-color: #e6eaed; font-family: 'Roboto', sans-serif; }
      @media screen and (max-width: 768px) {
        body { padding-top: 0px; }
      }
      h2 { color: #5a6268 !important; }
    </style>

  </head>
  <body class="bg-light">
    <div class="container">
      {{ if not .Authenticated }}
      <div class="row justify-content-center py-5">
        <div class="col-md-4 order-md-2 mb-4 card p-2">
          <div class="py-2 text-center">
            {{ if .LogoURL }}
            <img class="d-block mx-auto mb-2" src="{{ .LogoURL }}" alt="{{ .LogoDescription }}" width="72" height="72">
            {{ end }}
            <h2>{{ .Title }}</h2>
          </div>
          {{ if .Message }}
          <div class="alert alert-warning alert-dismissible fade show p-2" role="alert">
            <p>{{ .Message }}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {{ end }}

          <form action="{{ .ActionEndpoint }}" method="POST" role="form" class="card p-2">
            <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="">Username</span>
              </div>
              <input name="username" type="text" class="form-control" placeholder="username">
            </div>
            <br>
            <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="">Password</span>
              </div>
              <input name="password" type="password" class="form-control" placeholder="password">
            </div>
            <br>
            <div class="input-group">
                <button type="submit" class="btn btn-secondary float-right">Authenticate</button>
            </div>
          </form>

        </div>
      </div>
      {{ else }}
      <div class="py-5 text-center col-md-4 offset-md-4">
        <h2>Welcome</h2>
        <p class="lead">Access the following services.</p>
        <ul class="list-group mb-3 pb-2">
          {{range .PrivateLinks}}
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h5 class="my-0"><a href="{{ .Link }}">{{ .Title }}</a></h6>
            </div>
          </li>
          {{ end }}
        </ul>
        <a href="{{ .ActionEndpoint }}?logout=true" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Logout</a>
      </div>
      {{ end }}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {{ if .Authenticated }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js" integrity="sha256-eOgo0OtLL4cdq7RdwRUiGKLX9XsIJ7nGhWEKbohmVAQ=" crossorigin="anonymous"></script>
    {{ end }}

  </body>
</html>
